body {
  font-family: sans-serif;
  background-color: #e1e1e1;
  max-width: 800px;
  margin: 0 auto;
}

select,
button,
input {
  padding: 10px 12px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.action {
  margin-bottom: 10px;
  display: flex;
  gap: 12px;
}

.input-form {
  position: fixed;
  bottom: 20px;
  width: 800px;
  z-index: 999;
}

.input-form > form {
  display: flex;
  gap: 12px;
}

.input-form input {
  display: block;
  flex-grow: 3;
}

.submit-btn {
  background-color: #0054d1;
  color: white;
  padding: 0 48px;
  font-weight: 700;
}

.todo-list {
  padding: 12px 0;
}

.todo-item {
  display: flex;
  background-color: white;
  padding: 0 12px;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.item-action {
  display: flex;
  align-items: center;
  gap: 12px;
}

.item-action > p {
  background-color: #e1e1e1;
  padding: 4px 12px;
  border-radius: 3px;
}

.delete-btn {
  cursor: pointer;
}
